.productTitle {
    margin: 6vw;
}

.productTitle h1 {
    font-size: 2.5vw;
    font-family: 'Ubuntu', sans-serif;
}

.productTitle div {
    width: 37.5%;
    height: 0.3vw;
    background-color: #af0a05;
}

.productsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 8vw;
    font-family: 'Ubuntu', sans-serif;
    height: 18rem;
}

.products {
    background-color: #dbdbdb;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #b9b9b9;
    padding: 2rem 0;
}

.noProducts h5 {
    text-align: center;
    color: #7c7c7c;
}

.addButton {
    position: fixed;
    font-size: 3rem;
    right: 0;
    bottom: 20vh;
    background-color: #dfdfdf;
    border-bottom-left-radius: 5rem;
    border-top-left-radius: 5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: 2px solid #828282;
    border-right: none;
    color: #51c55f;
    transition: 600ms;
}


/*-------------- Overlay para un nuevo producto ---------------*/

.overlayAddItemContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #dfdfdf22;
    top: 0;
    right: 0;
    transition: 600ms;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayAddItemContainerHide {
    opacity: 0;
    pointer-events: none;
}

.overlayAddItem {
    background: #292929;
    background: linear-gradient(135deg, #292929cc 0%, #292929cc 15%, #636363cc 16%, #636363cc 28%, #292929cc 36%, #292929cc 66%, #636363cc 67%, #292929cc 68%, #292929cc 80%, #636363cc 81%, #292929cc 92%, #292929cc 100%);
    width: 50%;
    height: 80%;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 5px 5px 10px #0000004c;
    transition: 600ms;
    scrollbar-width: thin;
    scrollbar-color: #56565693;
}

.overlayAddItemHide {
    transform: translateX(-100%);
    pointer-events: none;
}

.overlayAddItem h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;
    color: #ffffff;
}

.formAddItem {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.inputAddItem {
    width: 80%;
}

.inputAddItem label {
    color: #dfdfdf;
    font-size: 110%;
}

.inputAddItem input {
    color: #616161;
}

.inputAddItem select {
    height: 2.5rem;
    border-radius: 7px;
    border: none;
    padding-left: 0.4rem;
    font-size: 115%;
}

.inputAddItem button {
    height: 3rem;
    font-size: 120%;
    border: none;
    width: auto;
    margin: 1rem 15% 1rem 15%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #bb1e0d;
    transition: 250ms;
    color: #ffffff;
    box-shadow: 2px 2px 10px #ffffff34;
}

.inputAddItem button:hover {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #820d00;
}


/*-------------- Item publicado ---------------*/

.item {
    /* border: 1px solid #a7a7a7; */
    margin: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 10rem;
    background-color: #efefef;
    box-shadow: 2px 2px 5px #afafaf;
}

.itemGeneral {
    display: flex;
    border-top-left-radius: inherit;
    width: 70%;
}

.itemCoverContainer {
    width: 12rem;
    height: 10rem;
    border-top-left-radius: inherit;
    border-bottom-right-radius: 1rem;
    margin-right: 2rem;
}

.itemCover {
    height: inherit;
    border-radius: inherit;
    background-position: cover;
}

.itemInfoContainer {
    width: 73%;
}

.itemInfoContainer h3 {
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 36.3rem;
}

.itemInfoContainer span {
    font-size: 140%;
    color: #00a650;
    font-weight: 600;
}

.itemInfoContainer p {
    margin-top: 0.5rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 4.9rem;
}

.itemSecondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.itemCategory {
    padding: 0 1vw;
    height: 2rem;
    width: 100%;
    border-bottom-left-radius: 1rem;
    background-color: #00a650;
    color: #ffffff;
    box-shadow: -2px 2px 4px #cecece;
}

.contextualButton {
    border: none;
    width: 2rem;
    align-self: flex-end;
    font-size: 200%;
    border-bottom-right-radius: 1rem;
    color: #616161;
    background-color: #dddddd;
    transition: 400ms;
}

.contextualButton:hover {
    background-color: #00a650;
    color: #ffffff;
}

.itemContextualMenu {
    border: 1px solid #c0c0c0;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 14vw;
    margin-top: 1.9rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #dddddd;
    transition: 250ms;
}

.contextualHide {
    transform: scale(0.9);
    opacity: 0;
    pointer-events: none;
}

.contextualButtons {
    border: none;
    background-color: #dddddd;
    margin: 8px 0;
    font-size: 80%;
    font-weight: 600;
    color: #616161;
    text-align: start;
    transition: 300ms;
}

#highlightButton:hover {
    color: #c6a605;
}

#editButton:hover {
    color: #00a650;
}

#deleteButton:hover {
    color: #a61100;
}