/*--------- Dependencias importadas ---------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu&display=swap');

/* font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; */


/*--------- Dise침os generales ---------*/

body {
    background-color: #ebebeb!important;
}


/*--------- Efectos ---------*/

.inputHidden {
    width: 0;
    opacity: 0;
    pointer-events: none;
}

.displayNone {
    display: none;
}

.hiddenModal {
    transform: scale(1.3);
    opacity: 0;
    pointer-events: none;
}

.hiddenOverlay {
    opacity: 0;
    pointer-events: none;
}

.listStyleNone {
    list-style: none;
    padding: 0;
}


/*------------ Dise침o de escritorio -------------*/


/*--------- Header ---------*/

.headerContainer {
    width: 100%;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    padding: 2rem 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandContainer {
    height: 4.1vw;
    width: 17.7vw;
    display: flex;
    align-items: center;
}

.brand {
    height: inherit;
}

.brandText {
    font-family: 'Roboto Slab', serif;
    font-size: 2.08vw;
    color: #ff7e73;
}

.sesion {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.loginButton {
    border: none;
    background-color: #00000000;
    color: #ffffff;
}

.registerButton {
    border: none;
    background-color: #00000000;
    color: #ffffff;
}

.search {
    display: flex;
}

.buttonSearch,
.inputButtonTrigger {
    border: none;
    background: none;
    color: #ffffff;
    margin-right: 2rem;
}

.inputSearch {
    background: #66666667;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    outline: none;
    border-radius: 3px;
    width: 17vw;
}

.social {
    font-size: 150%;
    margin-left: 3rem;
}

.icons {
    color: #ffffff;
    margin: 0 0.5rem;
    transition: 200ms;
}

.icons:hover {
    color: #e97995;
}


/*-------------- Login --------------*/

.modalLoginContainer {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
}

.modalLoginHeader {
    display: flex;
    justify-content: flex-end;
}

.modalLoginHeader button {
    padding: 1rem;
}

.modalLogin {
    background-color: #ffffff;
    width: 35rem;
    border-radius: 10px;
    transition: 200ms;
}

.modalLoginTitle {
    font-size: 130%;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 2rem;
}

.modalInput {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 90%;
}

.modalInput label {
    margin-left: 0.5rem;
}

.modalInput input {
    height: 3rem;
    border-radius: 8px;
    border: 1px solid #aaaaaa;
    transition: 100ms;
    font-size: 120%;
    padding-left: 0.5rem;
}

.modalInput input:focus {
    box-shadow: 1px 2px 5px #ababab;
    outline: none;
}

.fa-eye,
.fa-eye-slash {
    font-size: 25px;
    color: #353535;
}

.buttonLoginContinue {
    background-color: #8E0E00;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    width: 60%;
    height: 3.5rem;
    border-radius: 8px;
    margin-top: 1rem;
    transition: 400ms;
}

.buttonLoginContinue:hover {
    background-color: #ca3827;
}

.recoverLink {
    margin-top: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    font-size: 95%;
}


/*------------- Navbar --------------*/

.navbarContainer {
    background-color: #404040;
    width: 100%;
}

.navbar {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.navItems {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    font-size: 90%;
    width: 40%;
}

.navItems li {
    transition: 200ms;
}

.navItems li:hover {
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.navItemsAssist {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    width: 30%;
    font-size: 90%;
}

.navItemsAssist li {
    transition: 200ms;
}

.navItemsAssist li:hover {
    filter: drop-shadow(0px 0px 5px #ffffff);
}

.navButtons {
    background-color: #00000000;
    border: none;
    color: #ffffff;
    text-decoration: none;
}

.navButtons:hover {
    color: #ffffff;
}


/*----------- Footer -------------*/

.footerContainer {
    background-color: #2a2a2a;
    color: #ffffff;
    font-size: 80%;
}

.fourColumnsContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 4rem 0;
}

.fiscalQR {
    width: 7rem;
}

.columnSells ul li {
    margin: 1rem 0;
}

.columnAbout ul li {
    margin: 1rem 0;
}

.columnFollow {
    margin: 1rem 0;
}

.copyrights {
    padding-bottom: 2rem;
    text-align: center;
}


/*--------- Dise침o para m칩viles ---------*/

.barsButtonContainer {
    display: none;
}

.barsButton {
    background-color: #00000000;
    border: none;
    color: #efebe5;
    font-size: 200%;
}

.overlayMobileContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: #1F1C18;
    padding: 1rem;
    top: 0;
    transition: 450ms;
    opacity: 0;
    pointer-events: none;
}

.overlayHidden {
    transform: translateY(-100%);
}

.headerOverlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.5rem;
}

.mobileSesion {
    font-size: 80%;
    display: flex;
}

.mobileSearch {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.mobileButtonSearch {
    background-color: #00000000;
    color: #ffffff;
    border: none;
    padding-left: 8px;
}