/*--------- Dependencias importadas ---------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Ubuntu&display=swap');

/* font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif; */


/*--------- Dise침os generales ---------*/

body {
    background-color: #efebe5;
}


/*--------- Efectos ---------*/

.inputHidden {
    width: 0;
    opacity: 0;
    pointer-events: none;
}


/*------------ Dise침o de escritorio -------------*/


/*--------- Header ---------*/

.headerContainer {
    width: 100%;
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
    padding: 2rem 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandContainer {
    height: 4.1vw;
    width: 17.7vw;
    display: flex;
    align-items: center;
}

.brand {
    height: inherit;
}

.brandText {
    font-family: 'Roboto Slab', serif;
    font-size: 2.08vw;
    color: #ff7e73;
}

.sesion {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.loginButton {
    border: none;
    background-color: #00000000;
    color: #ffffff;
}

.registerButton {
    border: none;
    background-color: #00000000;
    color: #ffffff;
}

.search {
    display: flex;
}

.buttonSearch,
.inputButtonTrigger {
    border: none;
    background: none;
    color: #ffffff;
    margin-right: 2rem;
}

.inputSearch {
    background: #66666667;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    outline: none;
    border-radius: 3px;
}

.social {
    font-size: 150%;
    margin-left: 3rem;
}

.icons {
    color: #ffffff;
    margin: 0 0.5rem;
    transition: 200ms;
}

.icons:hover {
    color: #e97995;
}


/*--------- Dise침o para m칩viles ---------*/

.barsButtonContainer {
    display: none;
}

.barsButton {
    background-color: #00000000;
    border: none;
    color: #efebe5;
    font-size: 200%;
}


/*-------------- Login --------------*/