/*----------- Diseño adaptable: Ancho -----------*/

@media (max-width: 1200px) {
    .itemInfoContainer h3 {
        width: 30rem;
        font-size: 150%;
    }
    .itemInfoContainer span {
        font-size: 120%;
    }
}

@media (max-width: 1023px) {
    .brandContainer {
        height: 5vw;
        width: 21.3vw;
    }
    .brandText {
        font-size: 2.5vw;
    }
    .social {
        font-size: 100%;
    }
    .sesion {
        font-size: 85%;
    }
    .buttonSearch,
    .inputButtonTrigger {
        margin-right: 0.5rem;
    }
    .productTitle h1 {
        font-size: 3vw;
    }
    .productTitle div {
        width: 44.5%;
    }
    .itemInfoContainer h3 {
        width: 23rem;
        font-size: 135%;
    }
    .itemInfoContainer p {
        font-size: 90%;
        margin-top: -0.1rem;
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 900px) {
    .itemInfoContainer h3 {
        width: 20rem;
        font-size: 125%;
    }
}

@media (max-width: 720px) {
    .brandContainer {
        height: 8vw;
        width: 29.2vw;
    }
    .brandText {
        font-size: 3.2vw;
    }
    .search {
        display: none;
    }
    .sesion {
        display: none;
    }
    .barsButtonContainer {
        display: contents;
    }
    .social {
        display: none;
    }
    .overlayMobileContainer {
        opacity: 1;
        pointer-events: all;
    }
    .navbar {
        margin-left: 2rem;
        margin-right: 1rem;
    }
    .hiddenModal {
        transform: scale(1);
    }
    .productTitle h1 {
        font-size: 4vw;
    }
    .productTitle div {
        width: 59%;
    }
    .hideContentOnMobile {
        display: none;
    }
    .fourColumnsContainer {
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0;
    }
    .brandContainerFooter {
        justify-content: center;
        width: 100%;
        height: 5rem;
    }
    .brandContainerFooter span {
        font-size: 300%;
    }
    .overlayAddItem {
        width: 80%;
    }
    .itemInfoContainer h3 {
        width: 22rem;
        font-size: 120%;
        margin-top: 2%;
    }
    .itemCoverContainer {
        display: none;
    }
    .itemGeneral {
        margin-left: 3%;
    }
    .itemInfoContainer span {
        font-size: 110%;
    }
}

@media (max-width: 512px) {
    .brandContainer {
        height: 10vw;
        width: 36vw;
    }
    .brandText {
        font-size: 3.9vw;
    }
    .navbar {
        margin-left: 2rem;
        margin-right: 1rem;
        font-size: 80%;
    }
    .brandContainerFooter {
        justify-content: center;
        width: 100%;
        height: 3rem;
    }
    .brandContainerFooter span {
        font-size: 150%;
    }
    .overlayAddItem {
        width: 100%;
    }
    .itemInfoContainer h3 {
        width: 17rem;
        font-size: 115%;
    }
    .itemInfoContainer span {
        font-size: 95%;
    }
}

@media (max-width: 420px) {
    .navbar {
        margin-right: 0.5rem;
        margin-left: 2.5rem;
    }
    .itemInfoContainer h3 {
        font-size: 110%;
        width: 14rem;
    }
}

@media (max-width: 360px) {}