/*----------- Diseño adaptable: Ancho -----------*/

@media (max-width: 1023px) {
    .brandContainer {
        height: 5vw;
        width: 21.3vw;
    }
    .brandText {
        font-size: 2.5vw;
    }
    .social {
        font-size: 100%;
    }
    .sesion {
        font-size: 85%;
    }
    .buttonSearch,
    .inputButtonTrigger {
        margin-right: 0.5rem;
    }
}

@media (max-width: 720px) {
    .brandContainer {
        height: 8vw;
        width: 29.2vw;
    }
    .brandText {
        font-size: 3.2vw;
    }
    .search {
        display: none;
    }
    .sesion {
        display: none;
    }
    .barsButtonContainer {
        display: contents;
    }
    .social {
        display: none;
    }
    .overlayMobileContainer {
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 512px) {
    .brandContainer {
        height: 10vw;
        width: 36vw;
    }
    .brandText {
        font-size: 3.9vw;
    }
}

@media (max-width: 420px) {}

@media (max-width: 360px) {}